<section class="filters-bar">
  <h3 class="filters-bar__title"><strong>Filters</strong></h3>
  <fieldset class="filters-bar__inputs-container">
    <div class="filters-bar-input">
      <label for="title">Title</label>
      <input formControlName="title" type="text" placeholder="Movie Title" />
    </div>
    <div class="filters-bar-input">
      <label for="release_date">Release Date</label>
      <input
        formControlName="release_date"
        type="text"
        placeholder="Release Date"
      />
    </div>
  </fieldset>
</section>
