<section class="movies-container">
  <ul class="movies-list">
    <form [formGroup]="filtersBarForm">
      <app-filters-bar></app-filters-bar>
    </form>
    <li class="movies-list__list-element" *ngFor="let movie of movies | async">
      <section>
        <p class="list-element__title">
          <strong>{{ movie.title }}</strong>
        </p>
        <div class="list-element__details-container">
          <span
            ><small>Release date: {{ movie.release_date }}</small></span
          >
          <span
            ><small>Budget: ${{ movie.budget }}</small></span
          >
          <span
            ><small>Duration: {{ movie.duration }}</small></span
          >
        </div>
      </section>

      <button
        class="list-element__details-button"
        type="button"
        [routerLink]="movie.id"
      >
        Details
      </button>
    </li>
  </ul>
</section>
